<div class="sidebar">
    <img src="./assets/icons/GOAL-FLOW-SMALL.png" alt="logo-image">
    <div>
        <a href="/">
            <img src="./assets/icons/home.svg" alt="">
        </a>
        <a href="/search-user">
            <img src="./assets/icons/Search.svg" alt="">
        </a>
        <a href="/explore">
            <img src="./assets/icons/explore.svg" alt="">
        </a>
        <a href="/bookmarks">
            <img src="./assets/icons/bookmark.svg" alt="">
        </a>
        <a href="/user-profile/<%= userId %>">
            <img src="./assets/icons/user.svg" alt="">
        </a>

    </div>
    <a href="/logout">
    <img src="./assets/icons/logout.svg" alt="settings-svg">
</a>
</div>